{
  "presets": [
    ["env", {
      "targets": [
        "node"
      ]
    }]
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
