{
    "env": {
        "browser": true
    },
    "extends": "airbnb",
    "rules": {
        "max-len": [
            "error",
            120
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn"
                ]
            }
        ],
        "new-parens": 0,
        "import/extensions": 0,
        "import/no-unresolved": 0,
        "no-underscore-dangle": 0,
        "class-methods-use-this": 0,
        "space-before-function-paren": [
            "error",
            "always"
        ]
    }
}
